#detailed_map_view{
padding-top: 20px;
}

#eventName{
font-size: 30px;
padding-bottom: 30px;
color: white;
}

.details_list{
padding-bottom: 10px;
}


.list-group-item{
background-color: white;
}

.button-padding{
    height: 44px; border-top-width: 0px; margin-top: 10px;
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.graphic{
    height: 30px;
    padding-bottom: 0px;
    border-bottom-width: 10px;
    border-top-width: 10px;
    padding-left: 5px;
    padding-top: 0px;
    margin-left: 0px;
}

.filter_input_fields{
    padding-top: 80px;
}

.button-size{
  
   
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
   
}


#eventDetails{
    margin-top: 60px;
}

.list{
    margin-top: 60px;

}

li { cursor: pointer; }

.navbar-inverse {
    background: #00829e;
    color: white;
}
.navbar-inverse .navbar-brand, .navbar-inverse a{
    color:white;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.hidden{
    display: none;
}

body, html {
    background-color: #00829e;
    height: 100%;
    margin: 0;
    font: 400 15px/1.8;
    font-family: 'Open Sans', sans-serif;
    color: white;
    
}

#main{
    padding-top: 0px;
    opacity: 0.85;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.mainImage {
    background-image: url("https://cdn.pixabay.com/photo/2016/09/26/16/16/festival-1696329_1280.jpg");
    height: 100%;
}

.button1{
    height: 50px;
    background-color: #111;
    color: gold;
}

.text {
    position: absolute;
    left: 10%;
    top: 60%;
    width: 80%;
    text-align: center;
    color: #000;

    background-color: #111;
    color: #fff;
    padding: 0px;
    font-size: 25px;
    letter-spacing: 5px;
    border-left: 0px;
    padding-left: 0px; 
    }


h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

#map {
    height: 600px;
    width: 100%;
}
#detailed_map {
    height: 400px;
    width: 90%;
}

.filter_input_fields {
    visibility: hidden
}
